body {
    background-color:black;
}


.bgImage {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:auto;
    height:auto;
    z-index:-1;
    animation: fadeIn 0.5s linear;
}

.hidden{
    display: none;
}

h1{
    color:white;
}

h2{
    color:white;
}
li{
    color:white;
}
span{
    color:white;
}

.clock {
    text-align:center;
}

.log{
    text-align:center;
}

.quote{
    position:fixed;
    bottom:0;
    width: 100%;
    text-align:center;
}

.list_form{
    position:absolute;
    right:500px;
}
.list{
    position:relative;
    width:35%;
    left:65%;
    top:20px;
}
.weather{
    font-size:200%;
}
